<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TEverydayRecordsMapper">
    
    <resultMap type="TEverydayRecords" id="TEverydayRecordsResult">
        <result property="id"    column="id"    />
        <result property="date"    column="date"    />
        <result property="userlist"    column="userlist"    />
    </resultMap>

    <sql id="selectTEverydayRecordsVo">
        select id, date, userlist from t_everyday_records
    </sql>

    <select id="selectTEverydayRecordsList" parameterType="TEverydayRecords" resultMap="TEverydayRecordsResult">
        <include refid="selectTEverydayRecordsVo"/>
        <where>  
            <if test="date != null  and date != ''"> and date &gt;= #{date}</if>
            <if test="userlist != null  and userlist != ''"> and userlist = #{userlist}</if>
        </where>
        order by date
    </select>
    <select id="selectTEverydayRecordsListByMonth" parameterType="TEverydayRecords" resultMap="TEverydayRecordsResult">
        <include refid="selectTEverydayRecordsVo"/>
        <where>
            <if test="date != null  and date != ''"> and date like concat(#{date},"%") </if>
            <if test="userlist != null  and userlist != ''"> and userlist = #{userlist}</if>
        </where>
        order by date
    </select>
    <select id="selectTEverydayRecordsById" parameterType="Long" resultMap="TEverydayRecordsResult">
        <include refid="selectTEverydayRecordsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTEverydayRecords" parameterType="TEverydayRecords" useGeneratedKeys="true" keyProperty="id">
        insert into t_everyday_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="date != null">date,</if>
            <if test="userlist != null">userlist,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="date != null">#{date},</if>
            <if test="userlist != null">#{userlist},</if>
         </trim>
    </insert>

    <update id="updateTEverydayRecords" parameterType="TEverydayRecords">
        update t_everyday_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="date != null">date = #{date},</if>
            <if test="userlist != null">userlist = #{userlist},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTEverydayRecordsById" parameterType="Long">
        delete from t_everyday_records where id = #{id}
    </delete>

    <delete id="deleteTEverydayRecordsByIds" parameterType="String">
        delete from t_everyday_records where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>