<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TSaturdayLogsMapper">
    
    <resultMap type="TSaturdayLogs" id="TSaturdayLogsResult">
        <result property="id"    column="id"    />
        <result property="date"    column="date"    />
        <result property="userList"    column="user_list"    />
    </resultMap>

    <sql id="selectTSaturdayLogsVo">
        select id, date, user_list from t_saturday_logs
    </sql>

    <select id="selectTSaturdayLogsList" parameterType="TSaturdayLogs" resultMap="TSaturdayLogsResult">
        <include refid="selectTSaturdayLogsVo"/>
        <where>  
            <if test="date != null  and date != ''"> and date &gt;= #{date}</if>
            <if test="userList != null  and userList != ''"> and user_list = #{userList}</if>
        </where>
        order by date
    </select>
    <select id="selectTSaturdayLogsListByMonth" parameterType="TSaturdayLogs" resultMap="TSaturdayLogsResult">
        <include refid="selectTSaturdayLogsVo"/>
        <where>
            <if test="date != null  and date != ''"> and date like concat(#{date},"%")</if>
            <if test="userList != null  and userList != ''"> and user_list = #{userList}</if>
        </where>
        order by date
    </select>
    <select id="selectTSaturdayLogsById" parameterType="Long" resultMap="TSaturdayLogsResult">
        <include refid="selectTSaturdayLogsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTSaturdayLogs" parameterType="TSaturdayLogs" useGeneratedKeys="true" keyProperty="id">
        insert into t_saturday_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="date != null">date,</if>
            <if test="userList != null">user_list,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="date != null">#{date},</if>
            <if test="userList != null">#{userList},</if>
         </trim>
    </insert>

    <update id="updateTSaturdayLogs" parameterType="TSaturdayLogs">
        update t_saturday_logs
        <trim prefix="SET" suffixOverrides=",">
            <if test="date != null">date = #{date},</if>
            <if test="userList != null">user_list = #{userList},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTSaturdayLogsById" parameterType="Long">
        delete from t_saturday_logs where id = #{id}
    </delete>

    <delete id="deleteTSaturdayLogsByIds" parameterType="String">
        delete from t_saturday_logs where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>