@font-face {
  font-family: "iconfont"; /* Project id 3492401 */
  src: url('iconfont.eot?t=1656570514484'); /* IE9 */
  src: url('iconfont.eot?t=1656570514484#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1656570514484') format('woff2'),
       url('iconfont.woff?t=1656570514484') format('woff'),
       url('iconfont.ttf?t=1656570514484') format('truetype'),
       url('iconfont.svg?t=1656570514484#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-dianzan:before {
  content: "\e600";
}

.el-icon-dianzan1:before {
  content: "\e609";
}

.el-icon-buxihuan:before {
  content: "\e607";
}

